* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #0d1117;
}

body {
  overflow-x: hidden;
  background-color: #0d1117;
}